.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: white;
  position: relative;
}

.scrollArea {
  flex: 1;
  overflow-y: auto;
  padding-top: 64px;
  padding-bottom: 32px;
}
